:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  cursor: text;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}


/* End of the login
--------------------------------------------------
--------------------------------------------------
-------------------------------------------------- */


/* .single-featured-property:hover img{
    -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
} */
.single-property-area .property-thumb img {
    -webkit-transition-duration: 1000ms;
    -o-transition-duration: 1000ms;
    transition-duration: 1000ms;
    border-radius: 5px 5px 0 0;
    width: 100%;
}
.primary-btn {
  background-color: #947054;
  color: #fff;
}

@media (max-width: 992px) {
    #sign-up-btn {
        margin-top: 12px !important;
    }
}

.w-logo {
    width: auto;
    height: 90px;
}

.footer-logo img {
    width: 180px;
    height: auto;
}

.wechat {
    color: #65c20d;
    padding-right: 6px;
    vertical-align: bottom;
}
.qrcode-wechat {
    width: 148px;
    border-radius: 6px;
}
.ig {
    /* color: #E1306C; */
    color: #fff;
    padding-right: 12px;
}
.fb {
    /* color: #3b5998; */
    color: #fff;
    padding-right: 12px;
}
.linkedin {
    /* color: #0e76a8; */
    color: #fff;
    padding-right: 12px;
}
.youtube {
    /* color: #c4302b; */
    color: #fff;
}

.text-wrapper {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    /* height: 39px; */
    margin: 0 auto;
    /* font-size: 14px; */
    /* line-height: 1; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carousel-indicators .active {
    opacity: 1;
}


/* index css */
video {
    height: auto;
    width: 100%;
    object-fit: fill;
}
/* index -> grid images */
.centered {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}
.grid-image {
    cursor: pointer;
}
.grid-image div p{
    display: none;
    color:white;
    padding:0 12px;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.grid-image div span{
    display: none;
    transition: opacity 1s ease-out;
    color:white;
}
.grid-image img {
    width:100%;
    opacity:.8;
    height: 280px !important;
}
.grid-image div span{
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.grid-image:hover{
    background-color: transparent !important;
    /* opacity: 0.4 !important; */
    background-color: black !important;
}
.grid-image:hover div span{
    display: block !important;
}
.grid-image:hover div p{
    display: block !important;
}
.grid-image:hover img {
    opacity:.4 !important;
}
/* index -> social media sharing */
.meida-buttons {
    position: absolute;
    right: 0px;
    background-color: #2879bf;
}
.meida-buttons a {
    text-align: center;
    padding: 0 4px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}
.meida-buttons a:hover {
    color: #000;
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #shareToWP {
        display: none;
    }
}

/* index | search -> range slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    /* border-radius: 50%; */
    background: #947053;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    /* border-radius: 50%; */
    background: #947053;
    cursor: pointer;
}
